@model TwoFactorAuthenticationViewModel

<p>
    Please enter the code below in your autheticator App.
</p>
<p>
    @Model.Token
</p>
<p>
    Alternatively, scan the below QRCode with your mobile phone.
</p>
<div id="qrCode"></div>

<form method="post">
    <input hidden asp-for="Token" />
    <div class="form-group">
        Enter Code : <input type="text" class="form-control" asp-for="Code" />

    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

@section Scripts{ 
<script src="~/js/qrcode.js"></script>
<script type="text/javascript">
    new QRCode(document.getElementById("qrCode"), "@Model.QRCodeUrl");
</script>
}